@model IEnumerable<BanSach.Models.TACGIA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main>
    <div class="container-fluid px-4">
        <br />
        <h2>Danh sách tác giả</h2>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="my-3 flex">
                    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
                </div>
            </div>
            <div class="col-md-4 text-md-end">
                <div class="my-3">
                    <a href="@Url.Action("Index", "TACGIAs")" class="btn btn-gray">Danh sách tác giả</a>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Mã tác giả</th>
                            <th>Tên tác giả</th>
                            <th>Địa chỉ</th>
                            <th>Tiểu sử</th>
                            <th>Số điện thoại</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.MaTG)</td>
                                <th>@Html.DisplayFor(modelItem => item.TenTG)</th>
                                <th>@Html.DisplayFor(modelItem => item.DiaChi)</th>
                                <th>@Html.DisplayFor(modelItem => item.TieuSu)</th>
                                <th>@Html.DisplayFor(modelItem => item.DienThoai)</th>
                               
                                <td>
                                    <div class="d-flex">
                                        <a href="@Url.Action("Edit", new { id = item.MaTG })"><i class="fa-solid fa-lg fa-pen-to-square"></i></a>
                                        <div class="ms-2"></div>
                                        <a href="@Url.Action("Delete", new { id = item.MaTG })"><i class="fa-regular fa-lg fa-trash-can"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>